# /etc/zabbix/zabbix_agentd.conf

PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
DebugLevel=3

Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
Hostname={{ ansible_hostname }}
ListenIP={{ listenIp }}
Include=/etc/zabbix/zabbix_agent2.d/plugins.d/
